<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <h1>article detay sayfasi</h1>
    <p>{{article.id}}</p>
    <p>{{article.konu}}</p>
    <a href="{{article.file.url}}" target="_blank">{{article.file}}</a>
    <h2>Anonimleştirilmiş Pdf</h2>
    <a href="/{{ anonim_pdf_yolu }}" target="_blank">anon pdf</a>

    <form action="" method="POST" style="margin-top: 15px;">
        {% csrf_token %}
        <select name="reviewers">
            {% for reviewer in reviewers %}
                <option value="{{reviewer.id}}" name="reviewer">{{reviewer.name}}</option>
            {% endfor %}
        </select>
        <button type="submit">Hakemi Ata</button>
    </form>
    
</body>
</html>